@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #FCF3F3;
  --color-green-100: #F8E3E3;
  --color-green-200: #F0C2C2;
  --color-green-300: #E9A1A1;
  --color-green-400: #E18080;
  --color-green-500: #D95F5F;
  --color-green-600: #CE3232;
  --color-green-700: #A12626;
  --color-green-800: #741C1C;
  --color-green-900: #471111;
  --color-green-950: #300B0B;
}

:root {
  --ui-container: var(--container-8xl);
}
